<span class="d-none d-md-block">
  <ng-container *ngTemplateOutlet="menu"></ng-container>
</span>

<div class="accordion d-md-none" id="menuAccordion">
  <div class="mx-4 d-flex align-items-center" style="cursor: pointer" id="menuToggler"
      data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
      >
    <i class="pi pi-bars" style="font-size: 2em;"></i>
    <div style="font-size: 1.5em">Menu</div>
  </div>

  <div id="collapseOne" class="collapse" aria-labelledby="menuToggler" data-parent="#menuAccordion">
    <div class="card-body">
      <ng-container *ngTemplateOutlet="menu"></ng-container>
    </div>
  </div>
</div>

<ng-template #menu>
  <nav class="nav">
    <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Home</a>
    <a *ngFor="let menuItem of menuItems"
        class="nav-link" [routerLink]="[routeData.modulePath, menuItem.parameter]" routerLinkActive="active">
      {{menuItem.label}}
    </a>
  </nav>
</ng-template>
