<div class="sw h-100 d-flex flex-column">
  <div class="row no-gutters pb-2">
    <div class="col text-center">
      <h1>Star Wars Module</h1>
    </div>
  </div>
  <div class="row no-gutters pb-4">
    <div class="col menu">
      <router-outlet name="menu"></router-outlet>
    </div>
  </div>
  <div class="row h-100 no-gutters">
    <div class="col overflow-hidden">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
