<div class="crawl fader"></div>
<div class="crawl intro"> A long time ago, in a galaxy far,<br> far away....</div>
<div class="crawl logo"></div>
<div class="crawl scroller" *ngIf="crawlers">
  <div><ng-container *ngFor="let film of crawlers">
      <ng-container *ngTemplateOutlet="crawl; context: {$implicit: film}"></ng-container>
  </ng-container></div>
</div>

<ng-template #crawl let-film>
  <h4>Episode {{film.episode_id | intToRoman}}</h4>
  <h1>{{film.title}}</h1>
  <span [innerHTML]="film.opening_crawl | nrToP | sanitizeHtml"></span>
</ng-template>
