<div class="d-flex flex-md-row flex-column justify-content-center justify-content-md-between align-items-center">
  <h3 class="ml-5 text-center text-md-left">{{currentRouterParams.id}}</h3>
  <p-paginator *ngIf="totalRecords > rows" [rows]="rows" [totalRecords]="totalRecords"
             (onPageChange)="tableChangeTriggered($event)">
  </p-paginator>
</div>
<p-table [value]="data" [columns]="getVisibleColumns(columns)" [responsive]="true" #table
         dataKey="id" [resizableColumns]="true" [autoLayout]="true"
         [styleClass]="'custom-table'">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3em"></th>
      <th *ngFor="let col of columns" title="{{ col.description }}">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data let-columns="columns" let-expanded="expanded">
    <tr>
      <td>
        <a href="#" [pRowToggler]="data"><i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i></a>
      </td>
      <td *ngFor="let col of columns">
        <ng-container *ngIf="isObservable(data[col.field]) else simpleText">
          <ng-container *ngIf="data[col.field] | async as observableData">
            {{ getValue(observableData.body, col).join(", ") }}
          </ng-container>
        </ng-container>
        <ng-template #simpleText>
          {{ data[col.field] }}
        </ng-template>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-data let-columns="columns">
    <tr>
      <td [attr.colspan]="columns.length + 1" class="p-4">
        {{ data | json }}
      </td>
    </tr>
  </ng-template>
</p-table>
